



#titulotempo {
    

}
#titulotext{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:50px;


}
.img{
    
    width: 12%;
    height: 100%;
    
    
}



.tela {
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px; 
    color: #f8bcbc;
    
    
    
}


h1 {
    text-align: end;
    margin-right: 20px;
    

}

.relogio {
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    font-size: 10em;

    
    
}


.tempo {
    font-size: 15px;
    display: block;
    margin-top: 15px;

}

.numero {
    
    
    

}


.btn1 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 25px;
    box-shadow: 2px 2px 20px black;
}





.btn2 {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
    margin: 25px;
   
    


}
.btn3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
    
}



    















    




